In [16]:
%matplotlib inline
%load_ext autoreload

import warnings
warnings.filterwarnings("ignore") # disable warnings

from os import getcwd
from os.path import join, abspath, pardir, exists
import numpy as np
import pandas as pd

import pickle, json

import matplotlib.pyplot as plt
import seaborn as sns

# plotly
import plotly.express as px
import plotly.figure_factory as ff
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

# scipy
from scipy.stats import ttest_ind, chi2_contingency, boxcox, skew
from scipy.stats.stats import pearsonr

# sklearn libraries
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier, LocalOutlierFactor
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.cluster import DBSCAN
from sklearn.feature_selection import SelectKBest, f_classif, chi2

# statsmodel
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.tools.sm_exceptions import ConvergenceWarning

# IPython
from IPython.display import display
from IPython.core.interactiveshell import InteractiveShell

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

##### Config settings

In [3]:
parent_dir = abspath(join(join(getcwd(), pardir), pardir))
data_dir = join(parent_dir, "data")
data_file = join(data_dir, "speed_dating.csv")

# For IPython

InteractiveShell.ast_node_interactivity = "all" # To show all output after each cell execution (instead of the last output)

# For pandas

pd.options.display.max_columns = 200 # display upto 200 columns (instead of default 20)
pd.options.display.max_rows = 200 # display upto 200 rows (instead of default 60)

#### Helper functions

In [ ]:
def save_model(model, file_path: str) -> None:
    """
    Save model as a pickle file
    """
    with open(file_path, "wb") as file:
        pickle.dump(model, file)

def load_model(file_path: str):
    """
    Load model from a pickle file
    """
    with open(file_path, "rb") as file:
        return pickle.load(file)

def dataframe_to_csv(df: pd.DataFrame, file_path: str) -> None:
    """
    Save dataframe as .csv file
    """
    df.to_csv(file_path, index=False)

### Preprocessing

Data preprocessing is the first machine learning step in which we transform raw data obtained from various sources into a usable format to implement accurate machine learning models. 

In a real-world data science project, data preprocessing is one of the most important things, and it is one of the common factors of success of a model, i.e., if there is correct data preprocessing and feature engineering, that model is more likely to produce noticeably better results as compared to a model for which data is not well preprocessed.

That's why you may have heard that 80% of a data scientist’s time goes into data preprocessing and 20% of the time for model building. This isn’t false and is actually the case.

##### Typical Preprocessing Steps

Below mentioned are the typical data preprocessing steps:

- Basic checking of data: Check data types and see if you have bad data
- Refractor/Change columns names (if needed)
- Check for imbalance data
- Split your dataset into train and test datasets (stratified sampling in case of imbalance data)
- Check for missing data
- Removal of noise from the dataset
- Imputation of missing values
- Outlier detection and removal
- Feature Selection
- Create new and improved features (if needed)
- Perform new feature imputation if needed
- Normalization (transform all features' values b/w 0 & 1 )
- Standardization (transform all features so they have a mean 0 and standard deviation 1)
- Scaling the features
- Binning continuous data (if needed)
- Encoding categorical data

In [50]:
df = pd.read_csv(data_file, encoding= 'ISO-8859-1')
df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,match,int_corr,samerace,age_o,race_o,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,dec_o,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,like_o,prob_o,met_o,age,field,field_cd,undergra,mn_sat,tuition,race,imprace,imprelig,from,zipcode,income,goal,date,go_out,career,career_c,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,dec,attr,sinc,intel,fun,amb,shar,like,prob,met,match_es,attr1_s,sinc1_s,intel1_s,fun1_s,amb1_s,shar1_s,attr3_s,sinc3_s,intel3_s,fun3_s,amb3_s,satis_2,length,numdat_2,attr7_2,sinc7_2,intel7_2,fun7_2,amb7_2,shar7_2,attr1_2,sinc1_2,intel1_2,fun1_2,amb1_2,shar1_2,attr4_2,sinc4_2,intel4_2,fun4_2,amb4_2,shar4_2,attr2_2,sinc2_2,intel2_2,fun2_2,amb2_2,shar2_2,attr3_2,sinc3_2,intel3_2,fun3_2,amb3_2,attr5_2,sinc5_2,intel5_2,fun5_2,amb5_2,you_call,them_cal,date_3,numdat_3,num_in_3,attr1_3,sinc1_3,intel1_3,fun1_3,amb1_3,shar1_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3,attr4_3,sinc4_3,intel4_3,fun4_3,amb4_3,shar4_3,attr2_3,sinc2_3,intel2_3,fun2_3,amb2_3,shar2_3,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,1,11.0,0,0.14,0,27.0,2.0,35.0,20.0,20.0,20.0,0.0,5.0,0,6.0,8.0,8.0,8.0,8.0,6.0,7.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,6.0,9.0,7.0,7.0,6.0,5.0,7.0,6.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,2,12.0,0,0.54,0,22.0,2.0,60.0,0.0,0.0,40.0,0.0,0.0,0,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,7.0,8.0,7.0,8.0,5.0,6.0,7.0,5.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,3,13.0,1,0.16,1,22.0,4.0,19.0,18.0,19.0,18.0,14.0,12.0,1,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,5.0,8.0,9.0,8.0,5.0,7.0,7.0,NaN,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,4,14.0,1,0.61,0,23.0,2.0,30.0,5.0,15.0,40.0,5.0,5.0,1,7.0,8.0,9.0,8.0,9.0,8.0,7.0,7.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,7.0,6.0,8.0,7.0,6.0,8.0,7.0,6.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,5,15.0,1,0.21,0,24.0,3.0,30.0,10.0,20.0,10.0,10.0,20.0,1,8.0,7.0,9.0,6.0,9.0,7.0,8.0,6.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,5.0,6.0,7.0,7.0,6.0,6.0,6.0,6.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

#### 1. Basic checking of data

Generally, don't tend to care about data types until we get an error or some unexpected results. However, it's better to check that data types are correctly loaded before you start your analysis. You can read more about data types in pandas [here](https://pbpython.com/pandas_dtypes.html)

In [11]:
len(df)
len(df.columns)
df.dtypes.to_frame(name='data types').T # T will represent the transpose of the resulting dataframe, better for visualization

8378

195

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,match,int_corr,samerace,age_o,race_o,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,dec_o,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,like_o,prob_o,met_o,age,field,field_cd,undergra,mn_sat,tuition,race,imprace,imprelig,from,zipcode,income,goal,date,go_out,career,career_c,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,dec,attr,sinc,intel,fun,amb,shar,like,prob,met,match_es,attr1_s,sinc1_s,intel1_s,fun1_s,amb1_s,shar1_s,attr3_s,sinc3_s,intel3_s,fun3_s,amb3_s,satis_2,length,numdat_2,attr7_2,sinc7_2,intel7_2,fun7_2,amb7_2,shar7_2,attr1_2,sinc1_2,intel1_2,fun1_2,amb1_2,shar1_2,attr4_2,sinc4_2,intel4_2,fun4_2,amb4_2,shar4_2,attr2_2,sinc2_2,intel2_2,fun2_2,amb2_2,shar2_2,attr3_2,sinc3_2,intel3_2,fun3_2,amb3_2,attr5_2,sinc5_2,intel5_2,fun5_2,amb5_2,you_call,them_cal,date_3,numdat_3,num_in_3,attr1_3,sinc1_3,intel1_3,fun1_3,amb1_3,shar1_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3,attr4_3,sinc4_3,intel4_3,fun4_3,amb4_3,shar4_3,attr2_3,sinc2_3,intel2_3,fun2_3,amb2_3,shar2_3,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
data types,int64,float64,int64,int64,int64,int64,int64,int64,float64,int64,int64,float64,int64,float64,int64,float64,float64,float64,float64,float64,float64,float64,float64,int64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,object,object,float64,float64,float64,object,object,object,float64,float64,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,int64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64

##### Comment
- Seems like all the features were loaded correctly

In [19]:
display("Categorical Features")
df.describe(include='O').T 

#display("Numeric Features")
#df.describe(include='number').T

'Categorical Features'

         count unique          top freq
field     8315    259     Business  521
undergra  4914    241  UC Berkeley  107
mn_sat    3133     68     1,400.00  403
tuition   3583    115    26,908.00  241
from      8299    269     New York  522
zipcode   7314    409            0  355
income    4279    261    55,080.00  124
career    8289    367      Finance  202

In [56]:
c = 'zipcode'
#df[c] = df[c].astype(np.float)
df[c].unique()
pd.to_numeric(df[c].str.replace(",",""), errors='coerce', downcast="integer").unique()

array(['60,521', '35,223', '6,268', '77,096', '94,022', '20,878',
       '91,360', '0', '19,335', '14,850', '92,821', '45,243', '33,183',
       '26,900', '30,677', '10,028', '2,467', '3,031', '7,661', '48,104',
       '11,561', '52,803', '94,596', '10,523', nan, '22,151', '1,867',
       '13,413', '8,820', '48,124', '807,931', '29,055', '8,691',
       '45,213', '10,025', '90,026', '94,043', '10,027', '94,133',
       '6,700', '22,442', '10,012', '21,020', '100', '62,996', '19,422',
       '77,026', '19,151', '11,204', '8,071', '13,827', '91,730',
       '33,496', '7,045', '7,747', '35,404', '87,004', '94,306', '11,375',
       '4,605', '11,000', '90,503', '63,034', '53,705', '55,345', '2,021',
       '6,883', '30,100', '33,511', '44,118', '55,446', '43,229', '8,003',
       '411,101', '76,116', '98,579', '10,019', '28,035', '85,201',
       '55,424', '7,746', '10,514', '62,150', '300,151', '48,895',
       '94,108', '11,753', '11,215', '45,242', '10,022', '92,425',
       '110,015', '60,089', '80,110', '78,759', '76,513', '48,331',
       '19,454', '48,334', '1,114', '7,605', '53,217', '11,214', '38,330',
       '11,021', '901', '11,778', '38,119', '11,793', '70,605', '20,815',
       '10,306', '10,021', '1,720', '6,880', '7,936', '10,002', '96,822',
       '519,000', '12,590', '11,020', '10,803', '92,075', '16,510',
       '55,379', '19,087', '10,014', '8,034', '55,331', '136,300',
       '22,066', '19,041', '27,870', '44,147', '10,301', '28,387',
       '15,668', '55,391', '90,291', '48,070', '20,817', '80,005',
       '90,031', '14,227', '75,015', '8,536', '43,220', '92,602',
       '92,120', '91,011', '11,217', '8,904', '703,007', '68,005',
       '8,854', '66,610', '30,092', '11,500', '370,138', '6,878',
       '90,210', '11,419', '11,803', '14,526', '92,064', '95,404',
       '7,726', '20,903', '13,850', '77,095', '7,719', '18,929', '12,601',
       '30,345', '11,364', '7,410', '19,046', '21,093', '77,024',
       '80,798', '8,025', '100,063', '29,501', '11,531', '15,211',
       '11,596', '11,354', '48,127', '92,024', '10,471', '10,017',
       '23,060', '1,890', '46,815', '91,206', '54,449', '8,028', '10,598',
       '10,454', '12,000', '2,173', '11,234', '200,065', '92,037',
       '11,910', '7,024', '80,304', '21,701', '22,015', '10,023',
       '98,115', '77,546', '50,450', '10,536', '11,212', '20,011',
       '10,538', '76,710', '10,543', '11,235', '630,090', '18,977',
       '6,098', '89,014', '7,620', '430,000', '1,851', '125,438', '6,320',
       '21,044', '10,009', '7,512', '7,304', '85,283', '11,365', '77,401',
       '14,075', '21,015', '14,043', '8,540', '11,754', '27,701',
       '68,124', '22,003', '11,137', '10,463', '11,746', '1,173',
       '80,131', '7,624', '18,603', '8,816', '10,001', '87,110', '20,001',
       '92,683', '66,614', '7,760', '90,504', '2,115', '11,373', '10,128',
       '8,225', '18,103', '30,071', '95,008', '11,104', '110,060',
       '10,469', '37,204', '34,105', '94,130', '3,186', '46,818',
       '11,363', '66,208', '9,971,200', '135,110', '48,098', '7,039',
       '53,012', '95,695', '60,519', '92,833', '1,040', '6,019', '11,023',
       '7,069', '94,960', '33,414', '20,852', '11,733', '94,403',
       '16,803', '96,701', '7,675', '9,012', '60,611', '80,136', '78,100',
       '78,230', '400,051', '7,901', '7,032', '1,801', '30,066', '33,156',
       '11,040', '80,220', '47,920', '33,021', '20,854', '90,272',
       '11,432', '15,146', '94,539', '92,843', '10,706', '93,257',
       '20,816', '92,869', '28,804', '94,044', '21,209', '20,129',
       '6,437', '108', '17,403', '10,016', '11,576', '110,003', '11,552',
       '650,206', '210,009', '94,941', '560,032', '7,030', '93,108',
       '20,853', '248,001', '200,000', '597,627', '77,077', '10,006',
       '48,302', '2,155', '29,571', '8,091', '92,879', '10,086', '36,701',
       '63,131', '94,933', '5,401', '80,123', '7,076', '10,502', '32,780',
       '90,036', '7,050', '7,733', '7,201', '46,205', '1,128', '12,302',
       '33,184', '47,906', '1,742', '10,605', '64,129', '12,603', '2,138',
       '95,060', '20,782', '90,620', '32,304', '10,804', '10,594',
       '395,001', '2,140', '33,418', '11,001', '67,111', '91,754',
       '78,666', '92,028', '2,420', '96,797', '84,108', '48,306',
       '12,020', '90,034', '10,029', '471,001', '11,572', '94,536',
       '26,223', '19,380', '91,789', '12,563', '7,078', '10,024', '8,805',
       '95,831', '94,121', '16,146', '50,354', '136', '11,570', '78,110'],
      dtype=object)

array([6.05210e+04, 3.52230e+04, 6.26800e+03, 7.70960e+04, 9.40220e+04,
       2.08780e+04, 9.13600e+04, 0.00000e+00, 1.93350e+04, 1.48500e+04,
       9.28210e+04, 4.52430e+04, 3.31830e+04, 2.69000e+04, 3.06770e+04,
       1.00280e+04, 2.46700e+03, 3.03100e+03, 7.66100e+03, 4.81040e+04,
       1.15610e+04, 5.28030e+04, 9.45960e+04, 1.05230e+04,         nan,
       2.21510e+04, 1.86700e+03, 1.34130e+04, 8.82000e+03, 4.81240e+04,
       8.07931e+05, 2.90550e+04, 8.69100e+03, 4.52130e+04, 1.00250e+04,
       9.00260e+04, 9.40430e+04, 1.00270e+04, 9.41330e+04, 6.70000e+03,
       2.24420e+04, 1.00120e+04, 2.10200e+04, 1.00000e+02, 6.29960e+04,
       1.94220e+04, 7.70260e+04, 1.91510e+04, 1.12040e+04, 8.07100e+03,
       1.38270e+04, 9.17300e+04, 3.34960e+04, 7.04500e+03, 7.74700e+03,
       3.54040e+04, 8.70040e+04, 9.43060e+04, 1.13750e+04, 4.60500e+03,
       1.10000e+04, 9.05030e+04, 6.30340e+04, 5.37050e+04, 5.53450e+04,
       2.02100e+03, 6.88300e+03, 3.01000e+04, 3.35110e+04, 4.41180e+04,
       5.54460e+04, 4.32290e+04, 8.00300e+03, 4.11101e+05, 7.61160e+04,
       9.85790e+04, 1.00190e+04, 2.80350e+04, 8.52010e+04, 5.54240e+04,
       7.74600e+03, 1.05140e+04, 6.21500e+04, 3.00151e+05, 4.88950e+04,
       9.41080e+04, 1.17530e+04, 1.12150e+04, 4.52420e+04, 1.00220e+04,
       9.24250e+04, 1.10015e+05, 6.00890e+04, 8.01100e+04, 7.87590e+04,
       7.65130e+04, 4.83310e+04, 1.94540e+04, 4.83340e+04, 1.11400e+03,
       7.60500e+03, 5.32170e+04, 1.12140e+04, 3.83300e+04, 1.10210e+04,
       9.01000e+02, 1.17780e+04, 3.81190e+04, 1.17930e+04, 7.06050e+04,
       2.08150e+04, 1.03060e+04, 1.00210e+04, 1.72000e+03, 6.88000e+03,
       7.93600e+03, 1.00020e+04, 9.68220e+04, 5.19000e+05, 1.25900e+04,
       1.10200e+04, 1.08030e+04, 9.20750e+04, 1.65100e+04, 5.53790e+04,
       1.90870e+04, 1.00140e+04, 8.03400e+03, 5.53310e+04, 1.36300e+05,
       2.20660e+04, 1.90410e+04, 2.78700e+04, 4.41470e+04, 1.03010e+04,
       2.83870e+04, 1.56680e+04, 5.53910e+04, 9.02910e+04, 4.80700e+04,
       2.08170e+04, 8.00050e+04, 9.00310e+04, 1.42270e+04, 7.50150e+04,
       8.53600e+03, 4.32200e+04, 9.26020e+04, 9.21200e+04, 9.10110e+04,
       1.12170e+04, 8.90400e+03, 7.03007e+05, 6.80050e+04, 8.85400e+03,
       6.66100e+04, 3.00920e+04, 1.15000e+04, 3.70138e+05, 6.87800e+03,
       9.02100e+04, 1.14190e+04, 1.18030e+04, 1.45260e+04, 9.20640e+04,
       9.54040e+04, 7.72600e+03, 2.09030e+04, 1.38500e+04, 7.70950e+04,
       7.71900e+03, 1.89290e+04, 1.26010e+04, 3.03450e+04, 1.13640e+04,
       7.41000e+03, 1.90460e+04, 2.10930e+04, 7.70240e+04, 8.07980e+04,
       8.02500e+03, 1.00063e+05, 2.95010e+04, 1.15310e+04, 1.52110e+04,
       1.15960e+04, 1.13540e+04, 4.81270e+04, 9.20240e+04, 1.04710e+04,
       1.00170e+04, 2.30600e+04, 1.89000e+03, 4.68150e+04, 9.12060e+04,
       5.44490e+04, 8.02800e+03, 1.05980e+04, 1.04540e+04, 1.20000e+04,
       2.17300e+03, 1.12340e+04, 2.00065e+05, 9.20370e+04, 1.19100e+04,
       7.02400e+03, 8.03040e+04, 2.17010e+04, 2.20150e+04, 1.00230e+04,
       9.81150e+04, 7.75460e+04, 5.04500e+04, 1.05360e+04, 1.12120e+04,
       2.00110e+04, 1.05380e+04, 7.67100e+04, 1.05430e+04, 1.12350e+04,
       6.30090e+05, 1.89770e+04, 6.09800e+03, 8.90140e+04, 7.62000e+03,
       4.30000e+05, 1.85100e+03, 1.25438e+05, 6.32000e+03, 2.10440e+04,
       1.00090e+04, 7.51200e+03, 7.30400e+03, 8.52830e+04, 1.13650e+04,
       7.74010e+04, 1.40750e+04, 2.10150e+04, 1.40430e+04, 8.54000e+03,
       1.17540e+04, 2.77010e+04, 6.81240e+04, 2.20030e+04, 1.11370e+04,
       1.04630e+04, 1.17460e+04, 1.17300e+03, 8.01310e+04, 7.62400e+03,
       1.86030e+04, 8.81600e+03, 1.00010e+04, 8.71100e+04, 2.00010e+04,
       9.26830e+04, 6.66140e+04, 7.76000e+03, 9.05040e+04, 2.11500e+03,
       1.13730e+04, 1.01280e+04, 8.22500e+03, 1.81030e+04, 3.00710e+04,
       9.50080e+04, 1.11040e+04, 1.10060e+05, 1.04690e+04, 3.72040e+04,
       3.41050e+04, 9.41300e+04, 3.18600e+03, 4.68180e+04, 1.13630e+04,
       6.62080e+04, 9.97120e+06, 1.35110e+05, 4.80980e+04, 7.03900e+03,
       5.30120e+04, 9.56950e+04, 6.05190e+04, 9.28330e+04, 1.04000e+03,
       6.01900e+03, 1.10230e+04, 7.06900e+03, 9.49600e+04, 3.34140e+04,
       2.08520e+04, 1.17330e+04, 9.44030e+04, 1.68030e+04, 9.67010e+04,
       7.67500e+03, 9.01200e+03, 6.06110e+04, 8.01360e+04, 7.81000e+04,
       7.82300e+04, 4.00051e+05, 7.90100e+03, 7.03200e+03, 1.80100e+03,
       3.00660e+04, 3.31560e+04, 1.10400e+04, 8.02200e+04, 4.79200e+04,
       3.30210e+04, 2.08540e+04, 9.02720e+04, 1.14320e+04, 1.51460e+04,
       9.45390e+04, 9.28430e+04, 1.07060e+04, 9.32570e+04, 2.08160e+04,
       9.28690e+04, 2.88040e+04, 9.40440e+04, 2.12090e+04, 2.01290e+04,
       6.43700e+03, 1.08000e+02, 1.74030e+04, 1.00160e+04, 1.15760e+04,
       1.10003e+05, 1.15520e+04, 6.50206e+05, 2.10009e+05, 9.49410e+04,
       5.60032e+05, 7.03000e+03, 9.31080e+04, 2.08530e+04, 2.48001e+05,
       2.00000e+05, 5.97627e+05, 7.70770e+04, 1.00060e+04, 4.83020e+04,
       2.15500e+03, 2.95710e+04, 8.09100e+03, 9.28790e+04, 1.00860e+04,
       3.67010e+04, 6.31310e+04, 9.49330e+04, 5.40100e+03, 8.01230e+04,
       7.07600e+03, 1.05020e+04, 3.27800e+04, 9.00360e+04, 7.05000e+03,
       7.73300e+03, 7.20100e+03, 4.62050e+04, 1.12800e+03, 1.23020e+04,
       3.31840e+04, 4.79060e+04, 1.74200e+03, 1.06050e+04, 6.41290e+04,
       1.26030e+04, 2.13800e+03, 9.50600e+04, 2.07820e+04, 9.06200e+04,
       3.23040e+04, 1.08040e+04, 1.05940e+04, 3.95001e+05, 2.14000e+03,
       3.34180e+04, 1.10010e+04, 6.71110e+04, 9.17540e+04, 7.86660e+04,
       9.20280e+04, 2.42000e+03, 9.67970e+04, 8.41080e+04, 4.83060e+04,
       1.20200e+04, 9.00340e+04, 1.00290e+04, 4.71001e+05, 1.15720e+04,
       9.45360e+04, 2.62230e+04, 1.93800e+04, 9.17890e+04, 1.25630e+04,
       7.07800e+03, 1.00240e+04, 8.80500e+03, 9.58310e+04, 9.41210e+04,
       1.61460e+04, 5.03540e+04, 1.36000e+02, 1.15700e+04, 7.81100e+04])

In [57]:
cols_str_to_float = ['mn_sat', 'tuition', 'zipcode', 'income']
for col in cols_str_to_float:
    df[col] = pd.to_numeric(df[col].str.replace(",",""), errors='coerce')

In [24]:
#df['mn_sat'].unique()
#df['tuition'].unique()
#df['zipcode'].unique()
df['income'].unique()

array(['69,487.00', '65,929.00', nan, '37,754.00', '86,340.00',
       '60,304.00', '54,620.00', '48,652.00', '29,237.00', '56,580.00',
       '36,782.00', '38,548.00', '52,010.00', '28,418.00', '43,185.00',
       '23,152.00', '43,664.00', '48,441.00', '61,152.00', '36,485.00',
       '41,507.00', '17,134.00', '30,038.00', '33,772.00', '24,997.00',
       '42,096.00', '28,891.00', '62,635.00', '12,063.00', '29,809.00',
       '26,482.00', '30,147.00', '39,919.00', '41,466.00', '23,988.00',
       '28,989.00', '50,948.00', '38,022.00', '47,559.00', '53,539.00',
       '32,159.00', '53,940.00', '40,753.00', '38,207.00', '46,166.00',
       '30,973.00', '28,317.00', '26,645.00', '25,589.00', '55,223.00',
       '109,031.00', '40,409.00', '21,597.00', '76,624.00', '35,968.00',
       '51,725.00', '55,419.00', '55,550.00', '26,682.00', '41,547.00',
       '23,361.00', '74,893.00', '52,804.00', '53,923.00', '27,094.00',
       '57,213.00', '42,390.00', '43,636.00', '57,887.00', '30,768.00',
       '66,699.00', '45,360.00', '55,080.00', '17,378.00', '40,375.00',
       '48,929.00', '78,193.00', '63,351.00', '50,745.00', '29,279.00',
       '38,774.00', '58,802.00', '41,831.00', '52,186.00', '97,857.00',
       '74,624.00', '21,590.00', '38,832.00', '37,248.00', '28,240.00',
       '53,771.00', '56,096.00', '31,560.00', '52,467.00', '80,006.00',
       '47,572.00', '22,439.00', '31,383.00', '40,749.00', '47,997.00',
       '78,704.00', '31,143.00', '32,129.00', '44,195.00', '46,837.00',
       '97,972.00', '35,960.00', '65,708.00', '49,466.00', '53,229.00',
       '32,649.00', '35,867.00', '40,244.00', '42,640.00', '52,388.00',
       '62,875.00', '30,855.00', '46,800.00', '45,695.00', '46,792.00',
       '53,501.00', '64,716.00', '27,248.00', '22,805.00', '56,118.00',
       '30,146.00', '39,123.00', '46,153.00', '45,300.00', '42,397.00',
       '44,346.00', '42,225.00', '37,405.00', '28,524.00', '61,141.00',
       '8,607.00', '41,476.00', '49,841.00', '37,240.00', '36,594.00',
       '62,997.00', '46,608.00', '37,881.00', '48,944.00', '77,112.00',
       '18,283.00', '31,432.00', '73,073.00', '26,706.00', '50,060.00',
       '25,401.00', '80,608.00', '43,844.00', '53,196.00', '25,786.00',
       '39,394.00', '40,695.00', '45,788.00', '37,315.00', '51,663.00',
       '32,563.00', '54,303.00', '16,908.00', '39,729.00', '57,316.00',
       '30,587.00', '57,513.00', '31,857.00', '23,207.00', '25,831.00',
       '28,759.00', '19,264.00', '41,778.00', '35,963.00', '49,409.00',
       '31,516.00', '36,223.00', '43,367.00', '27,503.00', '35,187.00',
       '26,298.00', '31,148.00', '55,704.00', '46,138.00', '66,827.00',
       '42,897.00', '31,809.00', '75,347.00', '47,005.00', '52,805.00',
       '50,725.00', '65,693.00', '45,736.00', '33,906.00', '50,501.00',
       '48,785.00', '52,318.00', '62,844.00', '52,586.00', '29,236.00',
       '31,486.00', '31,632.00', '106,663.00', '84,043.00', '35,224.00',
       '36,381.00', '65,498.00', '60,000.00', '22,669.00', '81,266.00',
       '29,746.00', '47,556.00', '42,651.00', '27,794.00', '41,737.00',
       '90,225.00', '52,280.00', '56,056.00', '60,835.00', '62,829.00',
       '16,767.00', '42,967.00', '21,488.00', '89,977.00', '18,619.00',
       '22,161.00', '82,734.00', '40,163.00', '46,185.00', '78,844.00',
       '29,575.00', '34,752.00', '22,173.00', '37,994.00', '35,409.00',
       '23,707.00', '57,501.00', '25,314.00', '48,876.00', '34,870.00',
       '35,848.00', '45,017.00', '12,416.00', '87,789.00', '50,572.00',
       '49,642.00', '20,000.00', '32,508.00', '35,627.00', '46,280.00',
       '41,191.00', '71,787.00', '72,412.00', '36,510.00', '32,386.00',
       '15,863.00', '46,272.00', '48,137.00', '61,686.00', '47,624.00',
       '36,673.00', '55,138.00'], dtype=object)

##### Missing data

In [ ]:
((df.isna().sum()/len(df)) * 100).to_frame(name='missing %').sort_values(by=['missing %'], ascending=False)

Below mentioned are the articles, blogs, papers and other resources which we took inspiration from or we think are useful for future use case

#### References

- [_Getting Started with Data Preprocessing in Python_](https://www.section.io/engineering-education/data-preprocessing-python/)
- [_Data Preprocessing in Python_](https://medium.datadriveninvestor.com/data-preprocessing-3cd01eefd438)
- [_Data Pre-processing in Python for Beginner_](https://medium.com/data-science-indo/data-preparation-in-python-for-beginner-d3e1e60c03a6)
- [_Data Preprocessing using Python_](https://medium.com/@suneet.bhopal/data-preprocessing-using-python-1bfee9268fb3)
- [_Data preprocessing for Machine Learning in Python_](https://towardsdatascience.com/data-preprocessing-for-machine-learning-in-python-2d465f83f18c)
- [_Data Preprocessing in Machine Learning_](https://www.analytixlabs.co.in/blog/data-preprocessing-in-machine-learning/)
- [_Normalization vs Standardization — Quantitative analysis_](https://towardsdatascience.com/normalization-vs-standardization-quantitative-analysis-a91e8a79cebf)
- [__]()
- [__]()
- [__]()
- [__]()
- [__]()
- [__]()